<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Adilet Kadyrov</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../static/css/font-awesome.css">
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/skeleton.css">

  <link rel="stylesheet" href="../static/css/main.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>
  {% block content %}
  {% endblock %}
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <ul>
            <li><a href="#" title=""><span class="fa fa-github fa-4x"></span></a></li>
            <li><a href="#" title=""><span class="fa fa-twitter fa-4x"></span></a></li>
            <li><a href="#" title=""><span class="fa fa-linkedin fa-4x"></span></a></li>
            <li><a href="#" title=""><span class="fa fa-codepen fa-4x"></span></a></li>
          </ul>
        </div>
      </div>
      <a class="button button-white" href="#">Back to top</a>
    </div>
  </footer>
</body>
</html>
